@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Poppins:wght@300;400;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2.5rem;
}

h2 > span{
    font-size: 2.5rem;
    color: #f14747 ;
}

h3{
    font-size: 1.5rem;
    color: white;
    margin-bottom: 10px;
}

.navbar{
    top: 0;
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    box-shadow: 4px 2px 8px 8px rgba(0,0,0,.2);
    z-index: 2;
    background-color: #288f56; 
}

.nav-text{
    text-decoration: none;
    padding-left: 14px;
    padding-right: 14px;
    color: white;
}

.nav-text-active{
    text-decoration: none;
    padding-left: 14px;
    padding-right: 14px;
    color: #ffc813;
    font-weight: bold;
}

.nav-text:hover{
    color: #ffc813 ;
}

nav > div > span{
    padding-left: 34px;
    font-size: 40px;
    font-family: 'Changa One', cursive;
}

nav > div > span > span{
    color:#ffc813;
    font-size: 40px;
}

.button{
    padding: 8px 18px;
    border-radius: 12px;
    background-color: #ffc813;
    color: black;
    outline: none;
    margin-right: 34px;
    box-shadow: 1px 1px 8px 0px rgba(44, 44, 44, 0.8);
}

.button > a {
    color: black;
    text-decoration: none;
}

.button:hover{
    background-color: rgb(255, 221, 111);
}

.container{
    display: flex;
    width: 1250px;
    justify-content: space-evenly;
    align-items: center;
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
}

#banner, #campaign, #regis{
    display: flex;
    flex-direction: row;
    height: 550px;
    justify-content: center;
}

#banner{
    margin-top: 50px;
}

h1 > span{
    font-size: 3rem;
    color: #ffc813;
}

#banner-title > h1 > span{
    font-size: 3rem;
    color: #ffc813;
}

#about-us, #fun-fact{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 550px;
    align-items: center;
    background-color: #e6ffd2;
}

#fun-fact{
    height: 650px;
}

.col{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: column;
}

#logo{
    width: 350px;
    height: 350px;
}

#campaign-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#campaign-title > h1 > span{
    color: #f14747;
}

#campaign > .container{
    flex-direction: column;
}

#description, #text-cpg, #text-ff{
    text-align: justify;
}

.card{
    display: flex;
    flex-direction: column;
    width: 220px;
    justify-content: space-between;
    padding: 10px 24px;
    border-radius: 20px;
    background-color: #ffc813;
    outline: none;
    margin-left: 75px;
    margin-right: 75px;
}

.card-text{
    margin-bottom: 12px; 
    text-align: center;
    color: black;
}

.card-img{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#ff-icon{
    width: 70px;
    height: 70px;
}

#ff-img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

#ff-title{
    margin-bottom: 20px;
}

#ff-title > h1 > span{
    color: #288f56;
    font-size: 3rem;
}

#ff-title > h1 > span{
    color: #288f56;
    font-size: 3rem;
}

#ff-title > div {
    display: flex; 
    flex-direction: row;
}

#ff-title > div > h1 {
    justify-content: baseline;
}

#form-regis{
    flex-direction: column;
    /* background-color: #7e7e7e; */
    width: 40%;
    padding: 1.5rem;
}

#form-regis > label {
    color: black;
}

#cu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(41, 41, 41);
}

#form-saran, .cu-footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 50px 100px;
    width: 50%;
}

.cu-footer{
    align-items: flex-end;
    text-align: right;
    color: #fff;
}

.cu-footer > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.5rem;
}

.footer-title{
    font-size: 2.5rem;
    margin-right: 12px;
}

#footer-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.footer-icon{
    width: 50px;
    height: 50px;
    background-color: #ffc813;
    border-radius: 50%;
    padding: 10px;
    margin-left: 1rem;
}

label{
    font-weight: 500;
    margin-bottom: 0.4rem;
    color: #fff;
}

#name, #city, #email, #zip-code, #msg, textarea{
    width: 100%;
    padding: 8px 12px;
    margin-bottom: 1rem;
    border: 2px solid #7e7e7e;
    border-radius: 4px;
    background-color: rgb(209, 234, 252);
}

#checkbox{
    margin-top: 1rem;
}

.cp{
    display: flex;
    justify-content: center;
    padding: 8px;
    background-color: #288f56; 
    color: white;
}

@media (min-width: 1800px) {
    *{
        font-size: 1.1rem;
    }
}
